<script type="text/javascript" src="/javascripts/airport_autocomplete.js" language="javascript" charset="utf-8"></script>
  <%= form_tag('travel') do %>
    <div class="form">
      <%= text_field(:travel, :from, :value => 'Leaving from: eg., MEL',
                     :onfocus => "this.value='';", 
                     :onblur =>"this.value = !this.value ? 'Leaving from: eg., MEL' : this.value;") %>
    </div>
    <div class="form">
      <%= text_field(:travel, :to, :value => 'Travelling to: eg., LAX', 
                     :onclick => "this.value='';",
                     :onfocus => "this.select()",
                     :onblur => "this.value = !this.value ? 'Travelling to: eg., LAX' : this.value;") %>
    </div>
    <%= submit_tag("Fly", :class => 'submit') %>
  <% end %>

